<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>




<nav class="navbar navbar-light bg-white justify-content-start row ml-auto">
    <a href="#" class="navbar-brand">Linkedin</a>
    <div class="dropdown show">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Notification
        </a>

        <div *ngFor="let notification of notifications" class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#">{{notification.postOwnerName}}</a>
        </div>
    </div>
</nav>


<div *ngFor="let notification of notifications">
    <button type="submit" (click)="onNotificationClick(notification._id)">{{notification.postOwnerName}}
        shared a post</button>
</div>






<div class="container-fluid gedf-wrapper">
    <div class="justify-content-center row">
        <div class="col-md-6 gedf-main">


            <!-- - \\\\\\\Post-->
            <div class="card gedf-card">


                <!-- "Share a post" header -->
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs" id="myTab">
                        <li class="nav-item">
                            <h4 class="nav-link active" id="posts-tab">Share a post</h4>
                        </li>
                    </ul>
                </div>


                <form #postForm="ngForm" (ngSubmit)="onSubmit()">
                    <!-- postbox+upload+share -->
                    <div class="card-body">
                        <!-- postbox -->
                        <div class="form-group">
                            <!-- <label class="sr-only" for="message">post</label> -->
                            <textarea class="form-control" id="message" rows="3" placeholder="What are you thinking?"
                                name="postText" [(ngModel)]="post.postText"></textarea>
                        </div>

                        <!-- Upload+share -->
                        <div class="btn-toolbar justify-content-between">
                            <!-- Upload image -->
                            <div class="btn-group p-2">

                                <input type="file" class="custom-file-input" id="customFile" name="postImage"
                                    (change)="selectImage($event)">
                                <label class="custom-file-label" for="customFile">Upload image</label>
                            </div>

                            <!-- Share button -->
                            <div class="btn-group">
                                <button type="submit" class="btn btn-primary">share</button>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
            <!-- Post ///// -->


            <!--- \\\\\\\Post-->

            <div *ngFor="let post of postList">

                <div class="card gedf-card">
                    <div class="card-header">
                        <div class="d-flex justify-content-between align-items-center">

                            <!-- postlist - post person info -->
                            <div class="d-flex justify-content-between align-items-center">
                                <!-- <div class="mr-2">
                                <img class="rounded-circle" width="45" [src]=picurl alt="">
                            </div> -->
                                <div class="ml-2">
                                    <div class="h5 m-0">@{{post.postOwnerName}}</div>
                                    <div class="h7 text-muted">{{post.postOwnerEmail}}</div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{post.postText}}</p>
                        <img class="card-img-bottom" [src]=post.postImageUrl alt="Card image cap">
                    </div>
                </div>
            </div>
            <!-- Post /////-->
        </div>
    </div>
</div>