<div class="page-wrapper bg-blue p-t-100 p-b-100 font-robo">
    <div class="wrapper wrapper--w680">
        <div class="card card-1">
            <div class="card-heading"></div>
            <div class="card-body">
                <h2 class="title">News Feed</h2>
                <form method="POST">

                    <!-- <div class="input-group">
                        <h4>Write a post!!!</h4>
                        <input class="input--style-1" type="textfield" placeholder="Whats on your mind?"
                            name="postText">
                    </div> -->

                    <div class="input-group">
                        <h4>Insert an image</h4>
                        <input class="input--style-1 js-datepicker" type="file" placeholder="Insert an image"
                            name="postImage" [(ngModel)]="postImage">
                    </div>

                    <div class="p-t-20">
                        <button class="btn btn--radius btn--green" type="submit" (click)="show()">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- <div class="page-wrapper bg-blue p-t-100 p-b-100 font-robo">
    <div class="wrapper wrapper--w680">
        <div class="card card-1">
            <div class="card-heading"></div>
            <div class="card-body">
                <h2 class="title">Registration Info</h2>
                <form method="POST">

                    <div class="input-group">
                        <input class="input--style-1" type="email" placeholder="EMAIL" name="email">
                    </div>

                    <div class="input-group">
                        <input class="input--style-1 js-datepicker" type="password" placeholder="PASSWORD"
                            name="password">
                    </div>

                    <div class="p-t-20">
                        <button class="btn btn--radius btn--green" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> -->